.aircraft {
    display: flex;
    width: 100vw;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;

    .iconImg {
        width: 100px;
    }

    .weatherIcon {
        width: 32px;
        margin: 5px 5px 5px 0px;
        border-radius: 20px;
    }

    .aircraftName {
        font-size: x-large;
        margin: 0px 5px 10px 5px;
        padding: 5px;
        background-color: none;
        border-radius: 10px;
    }
}

.open-button {
    display: block;
    border: none;
    justify-content: center;
    width: 200px;
    background-color: rgb(185, 206, 226);
    color: rgb(18, 59, 97);
    margin: 20px;
    padding: 16px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.aircraftInfo {
    display: grid;
    grid-template-rows: repeat(5, auto);
    justify-items: center;
    align-content: center;
    width: 200px;
    background-color: rgb(185, 206, 226);
    color: rgb(18, 59, 97);
    margin: 20px;
    padding: 20px;
    border-width: 50px;
    border-color: rgb(18, 59, 97);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    cursor: pointer;

    p {
        display: inline-flex;
        place-items: center;
        text-align: center;
        font-size: large;
    }
}

.aircraftSelected {
    outline: solid rgb(50, 58, 70);
}

.iconImgSmall {
    width: 40px;
}

.form-popup {
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 9;
}

.delete-popup {
    display: none;
    position: absolute;
    border-radius: 20px;
    z-index: 10;
}

.form-popup-true,
.delete-popup-true {
    display: block;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border: 3px solid #f1f1f1;
    border-radius: inherit;
}

.delete-form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
    border: 3px solid rgb(219, 75, 75);
    border-radius: inherit;
}

.form-container img {
    display: flex;
    justify-self: center;
    margin-top: 5px;
}

.form-container input[type=text],
.form-container input[name=icon],
.form-container select {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=color] {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=number] {
    width: 85%;
    height: 40px;
    padding: 10px;
    margin: 5px 0 10px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus,
.form-container input[type=number]:focus,
.form-container select:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn,
.delete-form-container .btn {
    background-color: #216891;
    color: white;
    padding: 16px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .delete,
.delete-form-container .delete {
    background-color: rgb(219, 75, 75);
}

.form-container .cancel,
.delete-form-container .cancel {
    background-color: rgb(99, 99, 99);
}

.form-container .btn:hover,
.delete-form-container .btn:hover,
.open-button:hover {
    opacity: 1;
}