
<div class="cards">
  <ng-container *ngFor="let location of place_data; let i=index">
    <div id="forecast" class="card">
    <weather-display-component
      [place]="location.name" [date]="dailyData[i][0].time"
      icon="images/weather-{{hourlyData[i][1].significantWeatherCode}}.png" alt="weather icon"
      [currentTemperature]="hourlyData[i][1].screenTemperature" 
      win="images/weather-31.png" alt="windy icon" [wind]="hourlyData[i][1].windSpeed10m"
      precip="images/weather-32.png" alt="precipitation percentage icon"[precipitation]="hourlyData[i][1].probOfPrecipitation"
      vis="images/weather-6.png" alt="foggy icon" [visibility]="hourlyData[i][1].visibility">
    </weather-display-component>
    </div>
  </ng-container>
</div>


<div class="cards">
  <ng-container *ngFor="let location of place_data; let i=index">
    <div id="dayForecast" class="card">

    <detail-display-component [place]="location.name" [date]="dailyData[i][0].time"
      icon="images/weather-{{dailyData[1][1].significantWeatherCode}}.png" alt="weather icon"
      [dayTemperature]="dailyData[1][1].middayScreenTemperature" 
      win="images/weather-31.png" alt="windy icon" [dayWind]="dailyData[1][1].MiddayWindSpeed10m"
      precip="images/weather-32.png" alt="precipitation percentage icon"[dayPrecipitation]="dailyData[1][1].probOfPrecipitation"
      vis="images/weather-6.png" alt="foggy icon" [dayVisibility]="dailyData[1][1].visibility"> </detail-display-component>
    </div>
  </ng-container>
</div>


