.sections {
    display: grid;
    float: left;
    grid-template-rows: auto auto auto;
    width: 100vw;
    justify-self: center;
    padding: 50px;
}

.pref {
    margin: 10px;
    padding: 20px;
    background-color: rgb(185, 206, 226);
    color: rgb(18, 59, 97);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    font-size: x-large;
    max-width: 90vw;
    height: fit-content;
}

.content {
    display: flex;
    padding: 20px;
    background-color: none;
    height: fit-content;
    font-size: large;
    color: rgb(18, 59, 97);
    flex-wrap: wrap;
}

.content a {
    text-align: start;
    padding: 10px;
    margin: 5px;
    flex-wrap: wrap;
}

.content a:hover {
    background-color: #ddd;
    color: rgb(18, 59, 97);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.prefItem {
    background-color: rgb(18, 59, 97);
    color: white;
    border-radius: 10px;
}

form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

label {
    margin-left: 20px;
}

input {
    height: 20px;
    background: none;
    background-color: rgb(18, 59, 97);
    border-radius: 5px;
    border: none;
    padding: 2px 5px;
    text-align: center;
    color: white;
    margin: 2px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#vis {
    width: 50px;
}

#wind {
    width: 30px;
}