<!--
  <p id="place">{{specificLocationData[0].name}}</p>

    <ng-container *ngfor="let hour of specificLocationData[0].hourlyData[0]; let i=index;">
    <div  id="dailyForecast" class="card">
        <span><img src="images/weather-{{specificLocationData[0].hourlyData[0][i].significantWeatherCode}}.png" alt="weather icon" class="weatherIcon"/></span>
        <p><span class="hourlyTemperature"> {{specificLocationData[0].hourlyData[0][i].screenTemperature | number: '1.0-0'}}&deg;C </span></p>
        <p><img src="images/weather-33.png" alt="windy icon" />{{specificLocationData[0].hourlyData[0][i].windSpeed10m | number: '1.0-0'}}mph</p>
        <p><img src="images/weather-31.png" alt="gust icon" />{{specificLocationData[0].hourlyData[0][i].windGustSpeed10m | number: '1.0-0'}}mph</p>        
        <p><img src="images/weather-32.png" alt="precipitation percentage icon"/>{{specificLocationData[i].hourlyData[0][i].probOfPrecipitation | number: '1.0-0'}}&percnt;</p>
        <p><img src="images/weather-6.png" alt="foggy icon"/>{{specificLocationData[0].hourlyData[0][i].visibility | number: '1.0-0'}}m</p>
    </div>
    </ng-container>

  -->

<div class="cards">



  <ng-container *ngFor="let day of specificLocationData[0].dailyData[0]; let i=index;">
    <div id="dailyForecast" class="dailyCard">
        <p id="left"> {{specificLocationData[0].dailyData[0][i].time | date:'EEEE'}} </p>
        <span id="center"><img src="images/weather-{{specificLocationData[0].dailyData[0][i].daySignificantWeatherCode}}.png" alt="weather icon" class="weatherIcon"/></span>
        <p id="right"><img src="images/up-arrow.png" alt="up arrow" id="arrow"/></p>
        <p id="left">{{specificLocationData[0].dailyData[0][i].dayMaxScreenTemperature | number: '1.0-0'}}&deg;C</p>
        <p id="right"><img src="images/down-arrow.png" alt="down arrow" id="arrow"/></p>
        <p id="left">{{specificLocationData[0].dailyData[0][i].nightMinScreenTemperature | number: '1.0-0'}}&deg;C</p>
  
        <p id="right"><img src="images/weather-33.png" alt="windy icon"/></p>
        <p id="left">{{specificLocationData[0].dailyData[0][i].midday10MWindSpeed | number: '1.0-0'}}mph</p>             
        <p id="right"><img src="images/weather-31.png" alt="gust icon"/></p>
        <p id="left">{{specificLocationData[0].dailyData[0][i].midday10MWindGust | number: '1.0-0'}}mph</p> 
        <p id="right"><img src="images/weather-32.png" alt="precipitation percentage icon"/></p>
        <p id="left">{{specificLocationData[0].dailyData[0][i].dayProbabilityOfPrecipitation | number: '1.0-0'}}&percnt;</p>
        <p id="right"><img src="images/weather-6.png" alt="foggy icon"/></p>
        <p id="left">{{specificLocationData[0].dailyData[0][i].middayVisibility | number: '1.0-0'}}m</p>
    </div>
  </ng-container>
</div> 