<div class="dateTimeBar">
<span id="time">{{dateNow | date:'h:mm a'}}</span><span id="date">{{dateNow | date:'EEEE d MMMM y'}}</span>
</div>
<div class="cards">
  <ng-container *ngFor="let location of locationData; let i=index;">
    <a [routerLink]="[location.name]" id="dailyForecast" class="card">
        <p id="place">{{location.name}}</p>
        <span><img src="images/weather-{{locationData[i].hourlyData[0][2].significantWeatherCode}}.png" alt="weather icon" class="weatherIcon"/></span>
        <p class="hourlyTemperature"> {{locationData[i].hourlyData[0][2].screenTemperature | number: '1.0-0'}}&deg;C</p>
        <p><img src="images/weather-33.png" alt="windy icon" />{{locationData[i].hourlyData[0][2].windSpeed10m | number: '1.0-0'}}mph</p>
        <p><img src="images/weather-31.png" alt="gust icon" />{{locationData[i].hourlyData[0][2].windGustSpeed10m | number: '1.0-0'}}mph</p>        
        <p><img src="images/weather-32.png" alt="precipitation percentage icon"/>{{locationData[i].hourlyData[0][2].probOfPrecipitation | number: '1.0-0'}}&percnt;</p>
        <p><img src="images/weather-6.png" alt="foggy icon"/>{{locationData[i].hourlyData[0][2].visibility | number: '1.0-0'}}m</p>
    </a>
  </ng-container>
</div>  

