  .dateTimeBar {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    color: rgb(18, 59, 97);

    .time {
      justify-self: start;
      padding: 7px 20px;
      font-size: 28px;
    }

    .date {
      justify-self: end;
      padding: 7px 20px;
      font-size: 28px;
    }
  }

  .cards {
    display: flex;
    padding: 20px;
    margin: auto;
    max-width: 65%;

    button {
      display: flex;
      justify-self: right;
      width: 32px;
      height: 32px;
      background: none;
      border: none;

      img {
        width: 100%;
        height: 100%;
      }

      :hover {
        cursor: pointer;
      }
    }


    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
    }



    .card {
      background: linear-gradient(135deg, rgb(131, 166, 199), rgb(36, 53, 70));
      outline: solid rgb(50, 58, 70);
      flex: 1;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      color: #ffffff;
      margin: 25px;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      display: grid;
      grid-row: repeat(7, auto);
      place-items: center;
      align-self: center;
      max-width: 40%;

      .place {
        font-size: xx-large;
      }

      .weatherIcon {
        height: 64px;
        width: 64px;
      }

      p {
        font-size: x-large;
        display: inline-flex;
        margin-bottom: 15px;

        img {
          height: 32px;
          width: 32px;
          margin-right: 2px;
        }
      }
    }

    .ideal {
      background: linear-gradient(135deg, rgb(144, 194, 241), rgb(28, 77, 122));
      outline: solid rgb(178, 218, 241);
      flex: 1;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      color: #ffffff;
      margin: 25px;
      border-radius: 20px;
      padding: 20px;
      text-align: center;
      display: grid;
      grid-row: repeat(7, auto);
      place-items: center;
      align-self: center;
    }
  }

  a {
    text-decoration: none;
  }