<div [ngClass]="{'current':currentTemp}" class="dailyForecast">
  <p id="place">{{place}}</p>
  <!--<p>{{date | date:'EEE'}}</p> -->
  <span [ngClass]="{'big': bigIcon}"><img [src]="icon" class="weatherIcon"></span>
  <p><span class="hourlyTemperature"> {{currentTemperature | number: '1.0-0'}}&deg;C </span></p>
  <p><img [src]="win" />{{wind | number: '1.0-0'}}mph</p>
  <p><img [src]="precip" />{{precipitation | number: '1.0-0'}}&percnt;</p>
  <p><img [src]="vis" />{{visibility | number: '1.0-0'}}m</p>
</div>