.dailyForecast {
  display: grid;
  width: 50px;
  justify
  p {
    font-size: larger;
    display:inline-flex;
    margin-bottom: 15px;



    img {
      height: 16px;
      width: 18px;
      margin-right: 2px;
    }
  }
    
  #place {
    font-size: 150%;
  }  
}

img {
  height: 28px;
  width: 28px;
  margin: auto;
}


.weatherIcon {
  height: 64px;
  width: 64px;
}

.big {
  .weatherIcon {
    height: 128px;
    width: 128px;
  }
}

.current {
  margin: auto;
  font-size: 150%;
  width: 200px;

  p {
    img {
      height: 24px;
      width: 24px;
      margin-right: 5px;
    }
  }

  span {
    display: block;
    font-size: 150%;
  }
}