<div class="cards">
  <ng-container *ngFor="let location of place_data; let i=index">
    <div id="forecast" class="card">

    <weather-display-component [place]="location.name" [date]="dailyData[i][0].time"
      icon="images/weather-{{hourlyData[i].significantWeatherCode}}.png" alt="weather icon"
      [currentTemperature]="hourlyData[i].screenTemperature" 
      win="images/weather-31.png" alt="windy icon" [wind]="hourlyData[i].windSpeed10m"
      precip="images/weather-32.png" alt="precipitation percentage icon"[precipitation]="hourlyData[i].probOfPrecipitation"
      vis="images/weather-6.png" alt="foggy icon" [visibility]="hourlyData[i].visibility"> </weather-display-component>
    </div>
  </ng-container>
</div>