.navbar {
  position: sticky;
  height: 45px;
  top: 0;
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(5, auto);
  background-color: rgb(215, 218, 223);
  overflow: visible;

  .active {
    color: white;
    height: inherit;
    background-color: rgb(18, 59, 97);
  }
}

.navbar a {
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  color: rgb(18, 59, 97);
}

.navbar a:hover {
  cursor: pointer;
  background-color: rgb(92, 134, 173);
  color: white;
}

.toggleButton {
  display: flex;
  justify-self: end;
  place-items: center;
  border-radius: 20px;
  border-width: 2px;
  padding: 3px 15px;
  margin: 5px;
  background-color: rgba(18, 59, 97, 0.24);
  border-color: rgb(18, 59, 97);
  color: rgb(18, 59, 97);
  font-size: medium;

  img {
    padding-left: 5px;
    height: 25px;
  }
}

.toggleButton:hover {
  cursor: pointer;
}

.checked {
  background-color: rgb(18, 59, 97);
  color: white;
}

.navLocations {
  float: left;
  height: inherit;
  overflow: hidden;
}

.navLocations .dropbtn {
  font-size: inherit;
  border: none;
  outline: none;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropbtn:hover {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  width: 160px;
  text-align: start;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: rgb(18, 59, 97);
  cursor: pointer;
}

.navLocations:hover .dropdown-content {
  display: block;
}